.lista-gastos {
  width: 50%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 20px;
}

.lista-gastos-c {
  caption-side: top;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 10px 0;
}

.lista-gastos-h th,
.lista-gastos-b td {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
}

.lista-gastos-b tr:nth-child(even) {
  background-color: #f9f9f9;
}

.lista-gastos-b tr:hover {
  background-color: #f1f1f1;
}